/* * {
    border: 1px solid greenyellow;
} */

body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: norse-bold;
    src: url(./font/Norse-Bold.otf);
}

.container {
    display: flex;
}

.left {
    background-image: url(./image/halie-west-25xggax4bSA-unsplash.jpg);
    height: 100vh;
    width: 35vw;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.container-image {
    height: 33vh;
    display: flex;
    align-items: flex-end;
}

.semi-transparan {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.6);
    width: 100%;
    height: 150px;
}

.p-img {
    font-size: 100px;
    font-family: norse-bold, sans-serif;
    color: white;
}

.container-footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 67vh;
    width: 100%;
    flex-direction: row;
}

.p-footer {
    color: white;
}

.a-footer {
    color: white;
}

.right {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.satu {
    height: 33vh;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
}

.satu h3 {
    font-size: 30px;
    margin: 35px;
    margin-top: 85px;

}

.judul-form {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding-left: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.dua {
    height: 33vh;
    margin-bottom: 5px;
    box-shadow: 5px 5px 5px grey;
}

.form-inti {
    display: flex;
    flex-direction: row;
    gap: 90px;
    margin-left: 50px;
}

.form-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    font-size: 15px;
}
/* dari sini */
input {
    width: 250px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    height: 30px;
    font-size: 18px;
    outline: none;
    /* supaya di chrome bordernya tidak otomatis hitam saat focus */
}
input:focus{
    border: 1px solid blue;
    box-shadow: 5px 5px grey;
}
.form-div input[type='email']:invalid,
.form-div input[type='tel']:invalid,
.form-div input[type='password']:invalid {
    border: 1px solid red;
}

/* sampe sini */
.error{
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: red;
    }

    
.tiga {
    height: 33vh;
    background-color: #f7f7f7;
}

button {
    background-color: #596D48;
    width: 200px;
    height: 45px;
    border-radius: 5px;
    border: 0;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    margin: 50px;
    box-shadow: 2px 5px #e4e4e4;
}

.tiga p {
    margin: 0;
    margin-left: 50px;
    font-size: 16px;
    font-weight: 500;
}

.a-button {
    text-decoration: none;
    color: #596D48;
    font-weight: bold;
}